footer {
    background-color: $principal;
    grid-area: footer;
    width: 100%;  
    color: white;  
}
.copyright {
    text-align: left;
    font-family: Times;
    font-style: italic;
    font-size: $text-md;
}
.redes {
    position: relative;
    text-align: right;
    background-color: transparent;
    margin-right: 5%;
    /*padding-top: 5%;*/
}
.copyright {
    margin-bottom: 0;
}
