header {
    grid-area: header;
    grid-column: 1;
    grid-row: 1;
    background-color: $principal;
    text-align: center;
    color: white;
}

.navbar {
    min-height: 10vh;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}

.logo {
    flex-basis: 30%;
    position: relative;
    display: inline-block;
    margin-top: 5px;
}

.menu {
    flex-basis: 40%;
    @include flex($justify: space-between, $align: center, $gap: 2rem);
    justify-content: space-between;



    &Item {
        border: none;

        &--active {
            @extend .menuItem;
            background-color: white;
            color: chocolate;
        }
    }

    .menuLink {
        font-size: $text-sm;
        padding: 1rem;

        &:hover {
            border: $secondary;
            color: white;
            background-color: chocolate;
        }
    }
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}