
#bodyIndex {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15vh 1fr 15vh;
    grid-template-areas:
        "header header header header"
        "mainIndex mainIndex mainIndex mainIndex"
        "footer footer footer footer";
}
#mainIndex {
    grid-area: mainIndex;
    display: grid;
    height: 100vh;
    width: 100vw;
    background-image: url(../public/image/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "sectionOne sectionTwo";
    grid-column-gap: 1rem;
    justify-items: center;
}
.sectionOne {
    grid-area: sectionOne;
    grid-column: 1;
    position: relative;
    width: 60%;
    height: 60%;
    background-color: rgb(87, 37, 2);
    color: aqua;
}
section {
    article {
        display: inline-block;
        text-align: left;
        margin-left: 10px;
    }
    div {
        display: inline-block;
        text-align: right;
        margin-right: 10px;
    }
}
.tituloPrincipal {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(87, 37, 2);
    background-color: aqua;
    margin-right: 5%;
    margin-left: 5%
}
.textoPrincipal {
    text-align: left;
    padding-top: 20px;
}
.sectionTwo {
    grid-area: sectionTwo;
    grid-column: 2;
    width: 60%;
    height: 60%;
}
.alfajoresIndex {
    height: 100%;
    width: 100%;
}
@media screen and (max-width:375px) {
    .sectionTwo {
        height: auto;
        width: auto;
    }
    .sectionOne {
        height: 1fr;
        width: auto;
    }
}