.card {
    background-color: $principal;
    color: white;
    width: 20rem;
    overflow: hidden;
    text-shadow: black 0.1em 0.1em 0.2em;
    .btn-primary {
        background-color: green;
        color: white;
        border-color: green;
    }
    .card-title {
        font-size: $text-lg;
    }
    .card-text {
        font-size: $text-md;
    }
}
.cards {
    width: auto;
}
#carro {
    max-width: 60%;
    background-color: $principal;
    color: white;
    th{
        color: white;
    }
    .table{
        td{
            color:white;
        }
    }
}   