@keyframes rotalogo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#logo {
    animation-name: rotalogo;
    animation-duration: 2s;
}

main div img:hover {
    transform: scale(1.2);
    transition: 1.6s;
}
