$principal: #582805;
$secondary: #ffccd2; 
$font-primary: cursive,Arial;
$font-secondary: 'Indie Flower', cursive;
$text-lg: 2em;
$text-md: 1.6em;
$text-sm: 1em;


$margins:(
    xlarge: 5rem,
    large: 3rem,
    medium: 2rem,
    small: 1.5rem,
    xsmall: 1rem
);

