$principal: #582805;
$secondary: rgb(255, 204, 210); 
$font-primary: "Bebas Neue";
$font-secondary: "Hubballi";
$text-lg: 2em;
$text-md: 1.6em;
$text-sm: 1em;


$margins:(
    xlarge: 5rem,
    large: 3rem,
    medium: 2rem,
    small: 1.5rem,
    xsmall: 1rem
);

